src/main/resources/schema/RailcarType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.syncrotess.com/external/n4-tlo/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="railcarType" type="typ:railcarTypeType" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
  <xs:complexType name="deckHeightType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="maxNetWeightType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="max20ftContainerWeightType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="tareWeightType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="platformTypeType">
    <xs:sequence>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S169A"/>
            <xs:enumeration value="S367A"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="numberOfSlots"/>
      <xs:element type="xs:string" name="well"/>
      <xs:element type="typ:deckHeightType" name="deckHeight" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
      <xs:element type="typ:maxNetWeightType" name="maxNetWeight" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
      <xs:element type="typ:max20ftContainerWeightType" name="max20ftContainerWeight" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
      <xs:element type="typ:tareWeightType" name="tareWeight" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="platformTypesType">
    <xs:sequence>
      <xs:element type="typ:platformTypeType" name="platformType" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lengthType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="railcarTypeType">
    <xs:sequence>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S169"/>
            <xs:enumeration value="S367"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="typ:platformTypesType" name="platformTypes" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
      <xs:element type="typ:maxNetWeightType" name="maxNetWeight" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
      <xs:element type="typ:tareWeightType" name="tareWeight" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
      <xs:element type="typ:lengthType" name="length" xmlns:typ="http://www.syncrotess.com/external/n4-tlo/types"/>
      <xs:element type="xs:string" name="reeferSuitableTopTier"/>
      <xs:element type="xs:string" name="reeferSuitableBottomTier"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>